<?xml version="1.0" ?>
<scene>
	<camera p_x="0" p_y="0" p_z="0" d_x="0" d_y="0" d_z="1" up_x="0" up_y="1" up_z="0"  hither="10" yon="40" angle_x="40" angle_y="40"/>
	<render width="720" height="720" surfel_radius="0.039"/>
	<data d_path="/Users/osurfer3/Dropbox/PFC/Datasets/apple_rgb/cereal_1.txt"/>
</scene>
